name: HACS

permissions:
  contents: read

on:
  push:
  pull_request:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

jobs:
  hacs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version-file: '.python-version'
      - uses: hacs/action@22.5.0
        with:
          category: "integration"
