name: Hassfest

permissions:
  contents: read

on:
  push:
  pull_request:
  schedule:
    - cron: "0 4 * * *"

jobs:
  hassfest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: home-assistant/actions/hassfest@master
