name: Lint

permissions:
  contents: read

on:
  push:
  pull_request:
  schedule:
    - cron: "0 5 * * *"
  workflow_dispatch:

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version-file: '.python-version'
          cache: "pip"
          cache-dependency-path: |
            pyproject.toml
            requirements.txt
            requirements_test.txt
      - run: python -m pip install --upgrade pip
      - run: pip install ruff
      - run: ruff check --fix .
      - run: ruff format --check .
