name: Release

on:
  release:
    types:
      - published

permissions:
  contents: write

jobs:
  build-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Build release asset
        run: |
          cd custom_components/city_visitor_parking
          zip -r ../../city_visitor_parking.zip .
      - name: Upload release asset
        env:
          GH_TOKEN: ${{ github.token }}
        run: gh release upload "${{ github.event.release.tag_name }}" city_visitor_parking.zip --clobber
