name: Release

on:
  release:
    types:
      - published

permissions:
  contents: write

jobs:
  build-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Build release asset
        run: |
          zip -r city_visitor_parking.zip custom_components/city_visitor_parking
      - name: Upload release asset
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b
        with:
          files: city_visitor_parking.zip
