name: Tests

permissions:
  contents: read

on:
  push:
  pull_request:
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch:

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version-file: '.python-version'
          cache: "pip"
          cache-dependency-path: |
            pyproject.toml
            requirements.txt
            requirements_test.txt
      - run: python -m pip install --upgrade pip
      - run: pip install -r requirements.txt -r requirements_test.txt
      - run: pytest
